/* CSS files add styling rules to your content */

html, body {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
  margin: auto;
  padding: 0px;
}

.wrapper {
  border-style: solid;
  border-color: black;
  border-weight: 5px;
  background-color: white;
  max-width: 90%;
  display: flex;
  flex-direction:row-reverse;
  height: 80%;
}

.columns{
  background-color: gray;
  margin: 5px;
  max-width: 50%;
  display: flex;
  flex-direction: row;
}

.left {
  display: flex;
  flex-direction: column;
  justify-content: center;
  pading: 5px;
}
.right{
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.profile-picture {
  border-style: solid;
  border-color: white;
  border-radius:5%;
  margin: auto;
  
}
p{
  text-align: justify;
}