/* CSS files add styling rules to your content */

body {
  font-family: helvetica, arial, sans-serif;
  margin: 2em;
}

h1 {
  
  color: black;
  line-height: 8px;
  font-size: 24px;
  text-align: center;
  
}
.bio{
      text-align: justify;
    
    }
.profile-picture{
  border-style: solid;
  border-color: gray;
  
}